<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49418345381-f7m41gr12nuv0cicqjhrc2fsc023knbh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49418345381-f7m41gr12nuv0cicqjhrc2fsc023knbh</string>
	<key>API_KEY</key>
	<string>AIzaSyCReVMB-boWfl9LKjuWC3HgciSaFrMYYmk</string>
	<key>GCM_SENDER_ID</key>
	<string>49418345381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inertia.leloo</string>
	<key>PROJECT_ID</key>
	<string>leloo-2e398</string>
	<key>STORAGE_BUCKET</key>
	<string>leloo-2e398.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49418345381:ios:5430dd4cffe0e040aae64c</string>
</dict>
</plist>